<div *ngIf="product.title" class="card">
    <img src={{product.imageUrl}} class="card-img-top" alt={{product?.title}}>
    <div class="card-body">
        <h5 class="card-title">{{product?.title}}</h5>
        <p class="card-text">{{product?.price | currency:'USD':'symbol'}}</p>
    </div>
    <div class="card-footer" *ngIf="showActions && shoppingCart" >
        <div class="d-grid gap-2 ">
        <button 
         *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
         class="btn btn-secondary cart-tool"
         (click)="addToCart()">
         Add to cart.</button>
         <ng-template #updateQuantity> 
            
                <app-product-quantity [product]="product" [shopping-cart]="shoppingCart"></app-product-quantity>
        
         </ng-template>
        </div>
    </div>
</div>

