<h1>Shopping Cart</h1>
<div class="row col-8" *ngIf="shoppingCart">

    <p>You have {{ shoppingCart.totalItemsCount }} items in your shopping cart.
<button (click)="clearCart()" class="btn btn-light btn-sm" [class.disabled]="isEmpty">Clear Cart</button>

    </p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Product</th>
            <th class="text-center quantity" >Quantity</th>
            <th class="text-end total-price">Total Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of shoppingCart.items">
            <td>
                <div class="thumbnail" [style.backgroundImage]="'url(' + item.product.imageUrl +')' "></div>
            </td>
            <td>{{ item.product.title }}</td>
            <td class="text-end">
                <app-product-quantity  [product]="item.product" [shopping-cart]="shoppingCart"></app-product-quantity>
            </td>
            <td class="text-end">{{ item.totalPrice | currency:'USD':'symbol'}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th class="text-end">{{ shoppingCart.totalPrice | currency:'USD':'symbol' }} </th>
        </tr>
    </tfoot>
</table>
</div>
<a class="btn btn-primary btn-sm"routerLink="/check-out"[class.disabled]="isEmpty">Check Out</a>
