<h1>Shopping Cart</h1>
<ng-container *ngIf="shoppingCart">

    <p>You have {{ shoppingCart.totalItemsCount }} items in your shopping cart.</p>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of shoppingCart.items">

            <td>{{ item.product.title }}</td>
           <app-product-quantity [product]="item.product" [shopping-cart]="shoppingCart"></app-product-quantity>
            <td>{{ item.totalPrice | currency:'USD':'symbol'}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th>{{ shoppingCart.totalPrice | currency:'USD':'symbol' }} </th>
        </tr>
    </tfoot>
</table>
<button (click)="clearCart()" class="btn btn-danger btn-sm">Clear Cart</button>
</ng-container>
